<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/links">Links</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>