<div class="link-form-container">
    <form (ngSubmit)="onSubmit(linkUrl)" #linkForm="ngForm">
        <div>
            <span>Enter a link:</span>
        </div>
        <input [(ngModel)]="linkUrl" name="url" placeholder="http://yourlink.ru" class="link-form-input-field" required/>
        <button class="btn btn-success" type="submit">Shorten</button>
        <div *ngIf="!validUrl" class="link-alert-message alert alert-danger">Please Enter Valid Url</div>
    </form>
</div>
<div *ngIf="shortUrl" class="short-link-container">
    <div class="link-alert-message alert alert-success">Short Url:  <a href="{{shortUrl}}">{{shortUrl}}</a></div>
</div>